* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  font-family: "Courier New", Courier, monospace;

  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 1rem;
}
